name: Deploy to Railway

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
    types: [opened, synchronize]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '16'

      - name: npm install
        run: npm install

      - name: lint
        run: npm run eslint

      - name: test
        run: npm run test

      - name: build
        run: npm run build

      - name: e2e tests
        uses: cypress-io/github-action@v4
        with:
          build: npm run build
          start: npm run start
          wait-on: http://localhost:5000

      - name: Install Railway
        if: ${{ github.event_name == 'push' }}
        run: npm i -g @railway/cli

      - name: Deploy Railway
        if: ${{ github.event_name == 'push' }}
        run: railway up
        env:
          RAILWAY_TOKEN: ${{ secrets.RAILWAY_TOKEN }}

      - name: Deploy Success Message Discord
        uses: rjstone/discord-webhook-notify@v1
        if: ${{ success() && github.event_name == 'push' && !contains( join(github.event.commits.*.message, ' '), '#skip' ) }}
        with:
          severity: info
          details: Deploy Succeeded!
          webhookUrl: ${{ secrets.DISCORD_WEBHOOK }}

      - name: Build Failure Message Discord
        uses: rjstone/discord-webhook-notify@v1
        if: ${{ failure() }}
        with:
          severity: error
          details: Build Failed!
          webhookUrl: ${{ secrets.DISCORD_WEBHOOK }}

  tag_release:
    if: ${{ github.event_name == 'push' && !contains( join(github.event.commits.*.message, ' '), '#skip' ) }}
    needs: [deploy]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: '0'

      - name: Bump version and push tag
        uses: anothrNick/github-tag-action@1.36.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DEFAULT_BUMP: patch
